black==25.1.0
boto3==1.38.41
botocore==1.38.41
certifi==2025.6.15
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
coverage==7.9.1
cryptography==45.0.4
distlib==0.3.9
filelock==3.18.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
moto==5.1.6
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
pycparser==2.22
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.4
responses==0.25.7
ruff==0.12.0
s3transfer==0.13.0
six==1.17.0
urllib3==2.5.0
virtualenv==20.31.2
Werkzeug==3.1.4
xmltodict==0.14.2
