ansible-base==2.*
Babel==2.*
black==25.*
boto3==1.*
botocore==1.*
cachetools==5.*
certifi==2025.*
cfgv==3.*
chardet==5.*
charset-normalizer==3.*
click==8.*
colorama==0.*
coverage==7.*
cryptography==44.*
distlib==0.*
dnspython==2.*
docker==7.*
exceptiongroup==1.*
filelock==3.*
httplib2==0.*
identify==2.*
idna==3.*
iniconfig==2.*
Jinja2==3.*
jmespath==1.*
MarkupSafe==3.*
moto==5.*
mypy-extensions==1.*
netaddr==1.*
nodeenv==1.*
packaging==24.*
pathspec==0.*
platformdirs==4.*
pluggy==1.*
pre-commit==4.*
pycryptodomex==3.*
pyparsing==3.*
pyproject-api==1.*
pytest==8.*
pytest-cov==6.*
pytest-pythonpath==0.*
python-apt==2.*
python-dateutil==2.*
pytz==2025.*
PyYAML==6.*
requests==2.*
responses==0.*
s3transfer==0.*
six==1.*
tomli==2.*
tox==4.*
types-PyYAML==6.*
urllib3==2.*
virtualenv==20.*
websocket-client==1.*
Werkzeug==3.*
xmltodict==0.*
